titanic datasını okuyunuz(<b>train.csv</b>). Ödevin geri kalanında dataframe gösterimlerini <b>display()</b> fonksiyonunu kullanarak yapınız.<br> Örn: display(titanic_df)

In [7]:
import pandas as pd
import numpy as np

In [3]:
df_titanic= pd.read_csv(r"C:\Users\AHMET BEY\Desktop\Ödev\train.csv")
display(df_titanic)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Soru 1:

Kazada ölenlerin yaş ortalamasını bulunuz

In [24]:
display(df_titanic.query("Survived==0 ")["Age"].mean())

30.62617924528302

Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [25]:
fiyat=df_titanic.query("Survived==0")["Fare"]
display(fiyat.mean(),fiyat.median())

22.117886885245877

10.5

Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [20]:
display(df_titanic.query("Survived==0 and Sex=='male'")["Age"].mean())

31.618055555555557

Kazada ölen Kadınların yaş ortalamasını bulunuz

In [21]:
display(df_titanic.query("Survived==0 and Sex=='female'")["Age"].mean())

25.046875

# Soru 2:

Kazadan kurtulanların yaş ortalamasını bulunuz

In [22]:
display(df_titanic.query("Survived==1")["Age"].mean())

28.343689655172415

Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [23]:
display(df_titanic.query("Survived==1")["Fare"].mean())

48.39540760233917

Kazadan kurtulan toplam kişi sayısını bulunuz

In [31]:
df_titanic.query("Survived==1").shape[0]

342

Kazadan kurtulan erkeklerin yaş ortalamasını bulunuz

In [33]:
df_titanic.query("Survived==1 and Sex=='male'")["Age"].mean()

27.276021505376345

Kazadan kurtulan kadınların yaş ortalamasını bulunuz

In [ ]:
df_titanic.query("Survived==1 and Sex=='female'")["Age"].mean()

# Soru 3:

10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [34]:
df_titanic.query("Age<10")["Fare"].median()

27.0

10 yaşından büyüklerin bilet fiyatlarının medyan değerini bulunuz

In [35]:
df_titanic.query("Age>10")["Fare"].median()

13.92915

# Soru 5:

1.sınıf, 2.sınıf ve 3.sınıf yolcuların ölüm oranlarını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [68]:
sınıf_1=len(df_titanic.query("Survived==0 and Pclass==1"))/len(df_titanic.query("Survived==0")*100)
sınıf_2=len(df_titanic.query("Survived==0 and Pclass==2"))/len(df_titanic.query("Survived==0")*100)
sınıf_3=len(df_titanic.query("Survived==0 and Pclass==3"))/len(df_titanic.query("Survived==0")*100)
print("sınıf1_yuzde   " +str(sınıf_1))
print("sınıf2_yuzde   " +str(sınıf_2))
print("sınıf3_yuzde   " +str(sınıf_3))
print("Birinci sınıf diğerlerinden küçük ama ikinciyle çok daha yakın, üçüncü sınıfın ölüm oranı çok yüksek")

sınıf1_yuzde   0.14571948998178508
sınıf2_yuzde   0.1766848816029144
sınıf3_yuzde   0.6775956284153005
Birinci sınıf diğerlerinden küçük ama ikinciyle çok daha yakın, üçüncü sınıfın ölüm oranı çok yüksek

1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarını karşılaştırınız

In [72]:
sınıf1_ort= df_titanic.query("Pclass==1")["Fare"].mean()
sınıf2_ort= df_titanic.query("Pclass==2")["Fare"].mean()
sınıf3_ort= df_titanic.query("Pclass==3")["Fare"].mean()
print("sınıf1_ort   " +str(sınıf1_ort))
print("sınıf2_ort   " +str(sınıf2_ort))
print("sınıf3_ort   " +str(sınıf3_ort))
print("Bilet fiyatı en yüksek birinci sınıfın ve diğerlerinden çok uzak ikinci üçüncüden biraz daha pahalı")

sınıf1_ort   84.15468749999992
sınıf2_ort   20.66218315217391
sınıf3_ort   13.675550101832997
Bilet fiyatı en yüksek birinci sınıfın ve diğerlerinden çok uzak ikinci üçüncüden biraz daha pahalı

# Soru 6:

Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [18]:
kadın_olen=df_titanic.query("Survived==0 and Sex=='female'")
toplam_olen=df_titanic.query("Survived==0 ")
kadın_oranı=kadın_olen.shape[0]/toplam_olen.shape[0]
erkek_olen=df_titanic.query("Survived==0 and Sex=='male'")
erkek_oranı=erkek_olen.shape[0]/toplam_olen.shape[0]
print(kadın_oranı)
print(erkek_oranı)
print("erkekler kadınlardan neredeyse 6 kat daha fazla ölme oranına sahip")

0.14754098360655737
0.8524590163934426
erkekler kadınlardan neredeyse 6 kat daha fazla ölme oranına sahip

# Soru 7:

Kazada ölen erkeklerin ortalama bilet fiyatı ile kurtulan erkeklerin ortalama bilet fiyatını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [14]:
a= df_titanic.query("Sex=='male'and Survived==0")["Fare"]
kalan= a.mean()
b= df_titanic.query("Sex=='male'and Survived==1")["Fare"]
olen= b.mean()
print(kalan,olen)
print("Ölen erkeklerin bilet fiyatı ortlaması kalanların neredeyse 2 katı kadar")

21.960992948717944 40.82148440366974
Ölen erkeklerin bilet fiyatı ortlaması kalanların neredeyse 2 katı kadar

# Missing Value Doldurma

Bundan sonraki soruları <b>train_missing.csv</b> datasını kullanarak cevaplayınız.

# Soru 8

Age, Embarked ve Fare değişkenlerini mean/median/mode değerlerini kullanarak değişken tipine uygun olacak şekilde doldurunuz.

# Doldur Fonksiyonu

In [15]:
import pandas as pd
import numpy as np
train=pd.DataFrame()
train= pd.read_csv(r"C:\Users\AHMET BEY\Desktop\train_missing.csv")

def doldur(a,b): 
   
    b1=b.copy()
    if a==1:
        b1=b1.fillna(b1.mean())
        print(b.mean(),b1.mean())
    elif a==2:
        b1=b1.fillna(b1.median())
        print(b.median(),b1.median())
    else:
        b1=b1.fillna(b1.mode())
        print(b.mode()[0],b1.mode()[0])

In [6]:
# Age sütunu sayısal veriler içerdiği için mean ile doldurmak istedim
Age=train.Age
doldur(1,Age)
print("eski veri ile yeni verinin ortalamasını karşılaştırınca çok fark olmadığını görüyorum")

29.69911764705882 29.699117647058763
eski veri ile yeni verinin ortalamasını karşılaştırınca çok fark olmadığını görüyorum

In [17]:
#Embarked sütunu ise sayısal verilerden oluşmadığı için mode ile doldurmak istedim
Embarked=train.Embarked
doldur(3,Embarked)
print("mod değişmedi")

S S
mod değişmedi

In [19]:
#Fare sütunu sayısal veriler içerdiği için mean ile dolldurmak istedim
Fare=train.Fare
doldur(1,Fare)
print("değişim çok az oldu")

31.844821874999965 31.84482187499989
değişim çok az oldu

# Soru 9

SibSp değişkeni hangi yöntemler ile doldurulabilir, fikir yürütün. Uygun bir yöntem ile doldurun. (SibSp değişkeni kişilerin gemide bulunan kardeş/eş sayısını belirtiyor.)

In [75]:
import pandas as pd
import numpy as np
train= pd.read_csv(r"C:\Users\AHMET BEY\Desktop\train_missing.csv")
train.SibSp.isnull().sum()
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0.0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0.0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2,W./C. 6607,NaN,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0.0,0,111369,30.0000,C148,NaN
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.7500,NaN,Q

In [ ]:
#Aynı yaştakilerin benzer kardeş sayısına sahip oluğu varsayımıyla bu yöntemi kullanmak istedim

In [4]:
train_1 = train.copy()
train_1.set_index("PassengerId",inplace=True) # index etiketi olarak PassengerId atama
from sklearn.neighbors import KNeighborsRegressor

In [5]:
knn = KNeighborsRegressor(n_neighbors=5, weights="distance")

In [43]:
train_1.columns.difference(["Sex", "Survived","Name","Ticket","Fare"]) #ihtiyac olmayan sütunları çıkarma

Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Parch', 'Pclass', 'SibSp'], dtype='object')

In [7]:
for col in ["Ticket","Cabin","Embarked"]:
    train_1[col] = train_1[col].astype('category')
    train_1[col] =train_1[col].cat.codes

In [8]:
train_1_dolu = train_1.dropna()

Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Parch', 'Pclass', 'SibSp',
       'Ticket'],
      dtype='object')

In [82]:
X = train_1_dolu[train_1_dolu['Age', 'Cabin', 'Embarked', 'Fare', 'Parch', 'Pclass']
Y = train_1_dolu.SibSp

model = knn.fit(X,Y)

SyntaxError: invalid syntax (<ipython-input-82-63c1e90cfacb>, line 2)

In [64]:
na_indices = train_1.index.difference(train_1_dolu.index)
train_1.Age= train.Age.fillna(train.Age.mean())

In [73]:
X_missing = train_1.loc[na_indices][['Age', 'Cabin', 'Embarked', 'Fare', 'Parch', 'Pclass', 'SibSp','Ticket']]

In [74]:
imputed_Sibsp = model.predict(X_missing)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
# Modeli predict eedene kadar her şey doğruydu daha sonra predict kısmında hata aldım.

# Soru 10

Datayı baştan okuyun. Embarked değişkenini "NAN" şeklinde yeni bir kategorisi olacak şekilde doldurun.

In [1]:
import pandas as pd
import numpy as np
train= pd.read_csv(r"C:\Users\AHMET BEY\Desktop\train_missing.csv")

In [28]:
bos_satırlar=train.Embarked[train.Embarked.isnull()]
bos_satırlar.fillna("NAN")

2      NAN
4      NAN
14     NAN
19     NAN
26     NAN
      ...
868    NAN
870    NAN
884    NAN
885    NAN
889    NAN
Name: Embarked, Length: 173, dtype: object

# Soru 11

"Fare" değişkeni için "Fare_Missing" adında yeni bir değişken türetip "Fare" değişkenini median ile doldurun.

In [7]:
train_son=train.copy()

In [5]:
na_indices=train.Fare[train.Fare.isnull()].index.to_list() #Fare sütunuda boş olanların indexini na_indices dfsinde toplandı

In [10]:
train_son.insert(10,"Fare_Missing",0) #Fare sütunun yanına yeni bir sütun (değerlerinin hepsi 0) eklendi

ValueError: cannot insert Fare_Missing, already exists

In [19]:
train_son.loc[na_indices, "Fare_Missing"] = 1 
median=train_son.Fare.median()

In [20]:
train_son.Fare.fillna(median,inplace=True)

In [28]:
train_son.Fare.isnull().sum()

0

In [24]:
train_son.head(30)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Fare_Missing,Cabin,Embarked,Age_Missing
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.25000,0,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.28330,0,C85,C,NaN
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.92500,0,NaN,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.10000,0,C123,S,NaN
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.05000,0,NaN,NaN,NaN
5,6,0,3,"Moran, Mr. James",male,NaN,0.0,0,330877,8.45830,0,NaN,Q,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0,17463,51.86250,0,E46,S,NaN
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,NaN,1,349909,21.07500,0,NaN,S,NaN
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,NaN,2,347742,11.13330,0,NaN,S,NaN
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0,237736,30.07080,0,NaN,C,NaN
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1,PP 9549,16.70000,0,G6,S,NaN
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0,113783,14.45625,1,C103,S,1.0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0.0,0,A/5. 2151,14.45625,1,NaN,S,1.0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1.0,5,347082,31.27500,0,NaN,S,NaN
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,NaN,0,350406,7.85420,0,NaN,NaN,NaN
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0.0,0,248706,16.00000,0,NaN,S,NaN
16,17,0,3,"Rice, Master. Eugene",male,2.0,4.0,1,382652,29.12500,0,NaN,Q,NaN
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0.0,0,244373,14.45625,1,NaN,S,1.0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1.0,0,345763,18.00000,0,NaN,S,NaN
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0.0,0,2649,7.22500,0,NaN,NaN,NaN
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0.0,0,239865,26.00000,0,NaN,S,NaN
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0.0,0,248698,13.00000,0,D56,S,NaN
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,NaN,0,330923,8.02920,0,NaN,Q,NaN
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0.0,0,113788,35.50000,0,A6,S,NaN
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3.0,1,349909,21.07500,0,NaN,S,NaN
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1.0,5,347077,31.38750,0,NaN,S,NaN
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0.0,0,2631,7.22500,0,NaN,NaN,NaN
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3.0,2,19950,263.00000,0,C23 C25 C27,S,NaN
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0.0,0,330959,7.87920,0,NaN,Q,NaN
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0.0,0,349216,7.89580,0,NaN,S,NaN